<form [formGroup]="newAcctForm">
    <mat-form-field class="example-full-width">
        <label>Login</label>
        <input matInput type="text" formControlName="login" class="form-control" />
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <label>Password</label>
        <input matInput type="password" formControlName="mdp" class="form-control" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>Email</label>
        <input matInput type="email" formControlName="email" class="form-control" />
    </mat-form-field>
      
    <div class="text-center">
      <button class="btn btn-primary mr-1" (click)="onSubmit()">Register</button> 
    </div>
  </form>