<div className="Auth">
    <div className="AuthRightBlock">
      <div className="LoginBlock">
  
        <div className="InnerBlockLogin"> 

            <Label for="exampleEmail">Login</Label>
            <Input/>

           
            <Label for="examplePassword">Mot de passe</Label>
            <Input  type="password" name="password" />

          <Button color="primary">Connexion</Button>
        </div>
      </div>
    </div>
    <div className="AuthLeftBlock">
        <img  />
    </div>
  </div>