<form [formGroup]="loginForm">
  <mat-form-field class="example-full-width">
      <label>User</label>
      <input matInput type="text" formControlName="login" class="form-control" />
  </mat-form-field>


  <mat-form-field class="example-full-width">
      <label>Password</label>
      <input matInput type="password" formControlName="mdp" class="form-control" />
    </mat-form-field>
    
  <div class="text-center">
    <button class="btn btn-primary mr-1" (click)="onSubmit()">Register</button> 
  </div>

  <a>Créer un compte</a>
</form>